<section>
    <article>
      <img src="../../assets/pic-home/chiken2.jpg" alt="">
      <p> <a href="">meat</a> </p>
    </article>
    <article>
      <img src="../../assets/pic-home/milk.jpg" alt="">
      <p><a href="">Milk</a></p>
    </article>
    <article>
      <img src="../../assets/pic-home/vegetables.jpg" alt="" >
      <p> <a href="">vegetables</a> </p>
    </article>
    <article>
      <img src="../../assets/pic-home/nai-popularnite-variva-1.jpg" alt="">
      <p> <a href="">legumes</a> </p>
    </article>
</section>

<app-block-create-recipe></app-block-create-recipe>
