@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');

.nav-header {
  display: flex;
  justify-content: space-between;
  /* padding: 10px 30px; */
  background: #303961;
  box-shadow: -1px 3px 11px -2px rgba(0, 0, 0, 0.75);
}
.home{
  padding: 10px;
}
.nav-header ul {
  display: flex;
  margin: 0;
}

.nav-header ul div{
  display: flex;
}

.nav-header ul li {
  margin-right: 40px;
  list-style-type: none;
  padding: 10px;
}

.nav-header ul li a,
.nav-header a{
  cursor: pointer;
  transition: transform .2s; 
  cursor: pointer;
}

 li:hover, .home:hover{
  transform: scale(1.2s); 
  font-style: oblique;
  font-weight: 900;
  background: #d2d3d85e;
}

.nav-header ul li a,
.nav-header a,
.hello{
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-decoration: none;
  font-weight: 900;
  font-size: 18px;
}
.hello{
  padding-top: 3px;
}


.title-area{
  margin-left: 1%;
  display: inline-block;
}

h1{
  margin-bottom: 0;
  font-size: 45px;
  color: #303961;
  font-weight: 900;
  letter-spacing: px;
}
h1 span{
  font-family: 'Euphoria Script', cursive;
  color: #0f7c3e;
  font-weight: 300;
}
.title-area p{
  text-transform: uppercase;
  margin-top: 10px;
  letter-spacing: 5px;
  font-weight: 800;
  color: rgb(86, 86, 92);
}

.subtitle{
  display: flex;
}
 img{
  width: 100px;
  transform: rotate(-25deg);
  position: relative;
  top: -20px;
  z-index: -1;
  left: 280px;
  position: absolute;
  top: 100px;
}

a{
  text-decoration: none;
}

@media (max-width: 850px) {
  nav {
    display: block;
  }

  .nav-header,
  .nav-header ul {
    display: block;
    padding-top: 15px;
  }

  .nav-header > a{
    display: inline;
    margin-left: 43%;
  }

  .nav-header ul li,
  .nav-header a{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .title-area{
    width: 70%;
    margin: 0 auto;
  }

  .title-area h1{
    font-size: 30px;
  }
  .subtitle p{
    font-size: 15px;
  }
  .subtitle img{
    top: -10px;
    left: -30px;
  }

}
