footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #303961;
  box-shadow: 0px -5px 32px -3px rgba(12, 11, 11, 0.75);
  margin-top: -6px;
}

footer img,
.endLogo {
  width: 100px;
  transform: rotate(-20deg);
  position: absolute;
  margin-left: 72%;
  top: 10px;
  filter: opacity(80%);
}


footer nav ul {
  display: flex;
  margin-left: 35%;
  margin-top: 25px;
  padding-top: 10px;
}

footer nav ul li {
  list-style-type: none;
  padding: 0 20px;

}

.bordered {
  border-left: 1px solid white;
}

footer nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 900;
}

footer p {
  text-align: center;
  color: white;
  margin-top: 30px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

@media (max-width: 850px) {
  footer nav ul {
    flex-direction: column;
    /* margin-left: 30%; */
    margin: 0;
    margin-top: 10px;
  }

  footer nav ul li {
    text-align: center;
    margin-top: 10px;
  }

  .bordered {
    border: none;
  }
}
