/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;0,600;1,400;1,500&display=swap');

 html{
  background-image: url('./assets/background/wood-2142241_1920.jpg');
  background-repeat: no-repeat;
  /* background-position: top; */
  background-size: cover;
} 

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;

}

h1, h2, h3, h4, h5, h6{
  font-family: 'Josefin Sans', sans-serif;
}



/* linear-gradient( rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.007) ),  */