<section>
  <img src="../../assets/logo/20190114_144621-2.jpg" alt="">
  <p>
    Hello - I'm Mel and I love to delight my family with delicious,
            healthy and beautifully served food. I respect the traditions in cooking,
            but I also often experiment with the products, especially if some
            of the necessary ingredients for a certain dish are missing.
            Then I improvise with the available products and spices. Interesting and
            delicious things happen and the recognition and gratitude in the eyes of
            my loved ones make me happy.
            So I decided to share my experience and offer:
            easy recipes for delicious food, quickly prepared with affordable
            (available) at home products.
  </p>
</section>


